<link rel="stylesheet" href="./panel.css">

<div class="panel_container">
    <div class="nav">
        <!-- <div id="navEyeicon" class="nav-collapse-btn"><img src="./eye-regular.svg" width="27" height="15"></div> -->
        <div id="navEyeicon" class="nav-collapse-btn">
            <div id="nav-eye" class="c-eye--open" width="27" height="15"></div>
        </div>
        <!-- 81 × 20 のアイコンとタイトル -->
        <div class="nav-logo">
            <img src="./81x20.png" alt="" srcset="">
        </div>
        <div class="nav-dropdown"><img src="./bars-solid.svg" width="27" height="15"></div>
    </div>
    <div class="contents">

        <div class="footer">
            <img src="./user-regular.svg" width="27" height="20">
            <p>USENAME USENAME</p>
        </div>
    </div>
</div>
<script src="./panel.js"></script>