<link rel="stylesheet" href="./panel.css">
<div id="js-contentsWrapper" class="panel_container">
    <div class="nav">
        <div id="navEyeicon" class="nav-collapse-btn">
            <div id="eyeIcon" class="c-eye--open" width="27" height="15"></div>
        </div>
        <!-- 81 × 20 のアイコンとタイトル -->
        <div class="nav-logo">
            <img src="./81x20.png" id="navlogo" alt="" srcset="">
        </div>
        <div class="nav-dropdown"><img src="./bars-solid.svg" width="27" height="15"></div>
    </div>
    <div class="contents">

        <div class="footer">
            <img src="./user-regular.svg" id="userIcon">
            <p>USENAME USENAME</p>
        </div>
    </div>
</div>

<script src=""></script>